.header {
    margin-bottom: torem(85);

    background: {
        size: cover;
    }

    position: relative;

    &--lg {
        height: torem(755);
    }


    &--brushed {
        &:before {
            content: "";

            background: {
                image: url(../images/brushstroke-up@3x.png);
                size: cover;
            }

            width: 100%;
            height:$spacing-lg;
            position: absolute;
            top:0;
        }

        &:after {
            content: "";

            background: {
                image: url(../images/brushstrokes@3x.png);
                size: cover;
            }

            width: 100%;
            height:$spacing-xlg;
            position: absolute;
            bottom:0;
        }
    }

    h1 {
        margin: 0 40px;
        color: #d6d6d6;
        font-family: $pop-bld;
        position: relative;
        @include align-self("flex-start");
        z-index: 90;

        &:after {
            position: absolute;
            bottom: 0;
            right: torem(40);
            content: "";
            width: 11px;
            height: 11px;
            margin: 64px 0 17px;
            background-color: $primary-color;
            display: block;
        }
    }
}