.booking {
   &--form {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      z-index: 100;

      &__icon {
         width: torem(66);
         height: torem(66);
         background: $light-grey;
         border-radius: 50%;

         @include justify-align-center;
      }
   }

   &--nav {
      background: $white;
      @include flexbox();
      @include justify-content(center);

      &__item {
         padding: $spacing-lg $spacing-xlg;
         text-align: center;

         label {
            font-size: $small;
            color: $black;
            letter-spacing: -0.39px;
            margin-bottom: 0;
            margin-top: $spacing-xs;
         }

         &.active {
            .booking--form__icon {
               background: $primary-color;
            }
         }
      }
   }

   &--content {
      padding: $spacing-xlg;
      -webkit-backdrop-filter: blur(30px);
      backdrop-filter: blur(30px);
      background-color: #f7f7f7;
      background-color: rgba(255, 255, 255, 0.2);

      .form-group {
         label {
            color: #fff;
         }
      }
   }

   &--form-container {
      p {
         font-size: 12px;
         color:#fdbe13;
         text-align: end;
      }
   }
}

.datepicker-days {
   padding: 10px 20px;
}

.datepicker table tr td.day {
   padding: 5px;
}

.datepicker table tr td.day:hover {
   background-color: rgb(173, 173, 173) (238, 238, 238);
}

.input-group-addon {
   border: 1px solid#ced4da;
   padding: 5px;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   border-left: transparent;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
   background-image: linear-gradient(
      to bottom,
      rgb(238, 182, 79),
      #fdbe13
   );
   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
